html {
  font-family: 'Raleway';
  display: flex;
  width: 1440px;
  flex-direction: column;
  align-items: center;
  gap: 32px;  
}

/* * HEADER */

header {
  display: flex;
  justify-content: space-evenly;

}

nav {
  display: flex;
  align-items: center;

}

ol {
  display: flex;
  gap: 18px;
  list-style-type: none;
  font-size: 14px;
}

.email {
  font-weight: bold;
}

.introduction{
  font-size: 22px;
}

.container_logo_name {
  display: flex;
  align-items: center;
  gap: 10px;

}

.profile_picture {
  height: 360px;
  margin: 0 0 0 2rem;
  border: solid 2px #464646;
  border-radius: 100%;
}

.main_container{
  
  display: flex;
  width: 1136px;
  justify-content: space-between;
  align-items: center;
}

.main_container h1{
  color: #464646;
  font-size: 56px;
  font-style: bol;
  font-weight: 800;
  line-height: normal;
  background-color: rgba(255, 0, 0, 0.178);
}