body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* width: 90rem; */
  background: #EDEDED;
  font-family: 'Raleway';
  margin: auto;
}

/* * HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 3rem;
}

.disclaimer{
  background: rgba(253, 233, 169, 0.463);
  border: solid rgba(255, 166, 0, 0.407) 3px;
  padding: .5rem;
  border-radius: 1rem;
  margin: 0rem 10rem;
  text-align: center;
  font-style: italic;
  position: sticky;
  top: .5rem;
}

.disclaimer::before{
  filter: blur(1rem);

}

nav {
  display: flex;
  align-items: center;
}

ol {
  display: flex;
  justify-content: center;
  padding: 0;
  gap: 2rem;
  font-size: 14px;
  list-style: none;
  flex-wrap: wrap;
}

.email {
  color: #464646;
  font-weight: bold;
}

.email:hover {
  color: rgb(0, 100, 143);
  outline: #464646 dashed 2.5px;
  height: 1rem;
}

.main_items {
  flex: auto;
  margin: 4rem;
}

.introduction {
  font-size: 22px;
}

.container_logo_name {
  display: flex;
  align-items: center;
  gap: 10px;
}


.profile_picture {
  height: 240px;
  width: auto;

  max-width: 100%;
  max-height: 90vh;
  border: solid 2px #464646;
  border-radius: 100%;
}


.main_container h1 {
  color: #464646;
  font-size: 56px;
  font-style: bol;
  font-weight: 800;
  line-height: normal;
}

.container_about_me, 
.container_academic  {
  padding: 64px;
  gap: 0.625rem;
  background-color: #EAF2FD;
}

section>h2 {
  text-align: center;
}

.container_skills,
.container_hobbies{
  align-items: center;
  margin: 4rem;
  flex: auto;
  gap: 0.625rem;
}


.hobbies_items,
.skills_items{
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 176px;
  height: 176px;
  padding: 16px;
  gap: 8px;
  flex: auto;

}

.container_academic > div {
  display: flex;
  flex-flow: wrap;
  outline: red solid 2px;
  justify-content: center;
  gap: 1rem;
}

.academic_items_img{
  display: flex;
  flex: auto;
  width: 23rem;
  height: 17.8rem;
  padding: 1rem;
  background-color: #FFF;
}

.container_experience{
  text-align: center;
}

